<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.houseco.hana.rentcostumes">

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.houseco.hana.rentcostumes.LoadingScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.houseco.hana.rentcostumes.LoginActivity"
            android:label="Login"
            android:parentActivityName="com.houseco.hana.rentcostumes.LoadingScreen">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.houseco.hana.rentcostumes.LoginActivity">
            </meta-data>
        </activity>

        <activity android:name="com.houseco.hana.rentcostumes.ForgotLogin"
            android:label="Log In Help"
            android:parentActivityName="com.houseco.hana.rentcostumes.LoginActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.houseco.hana.rentcostumes.LoginActivity">
            </meta-data>
        </activity>

        <activity android:name="com.houseco.hana.rentcostumes.RegisterActivity"
            android:label="Sign Up"
            android:parentActivityName="com.houseco.hana.rentcostumes.LoginActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.houseco.hana.rentcostumes.RegisterActivity">
            </meta-data>>
        </activity>

        <activity
            android:name="com.houseco.hana.rentcostumes.MainActivity"
            android:label="House.co"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.houseco.hana.rentcostumes.LoginActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.houseco.hana.rentcostumes.MainActivity">
            </meta-data>>
        </activity>
        <activity android:name="com.houseco.hana.rentcostumes.CostumeDetails"
            android:label="Details"
            android:parentActivityName="com.houseco.hana.rentcostumes.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.houseco.hana.rentcostumes.CostumeDetails">
            </meta-data>>
        </activity>

        <activity android:name="com.houseco.hana.rentcostumes.CheckoutCostume"
            android:label="Checkout"
            android:parentActivityName="com.houseco.hana.rentcostumes.CostumeDetails">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.houseco.hana.rentcostumes.CheckoutCostume">
            </meta-data>>
        </activity>

        <activity android:name="com.houseco.hana.rentcostumes.HelpActivity"
            android:label="Help"
            android:parentActivityName="com.houseco.hana.rentcostumes.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.houseco.hana.rentcostumes.HelpActivity">
            </meta-data>>
        </activity>

        <activity android:name="com.houseco.hana.rentcostumes.ExpandMain"
            android:label="Common Question"
            android:parentActivityName="com.houseco.hana.rentcostumes.HelpActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.houseco.hana.rentcostumes.ExpandMain">
            </meta-data>
        </activity>

        <activity android:name="com.houseco.hana.rentcostumes.HelpReport"
            android:label="Report"
            android:parentActivityName="com.houseco.hana.rentcostumes.HelpActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.houseco.hana.rentcostumes.HelpReport">
            </meta-data>
        </activity>

        <activity android:name="com.houseco.hana.rentcostumes.HelpSIW"
            android:label="Something Isnt Working"
            android:parentActivityName="com.houseco.hana.rentcostumes.HelpActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.houseco.hana.rentcostumes.HelpSIW">
            </meta-data>
        </activity>

        <activity android:name="com.houseco.hana.rentcostumes.HelpFeedback"
            android:label="FeedBack"
            android:parentActivityName="com.houseco.hana.rentcostumes.HelpActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.houseco.hana.rentcostumes.HelpFeedback">
            </meta-data>
        </activity>

        <activity android:name="com.houseco.hana.rentcostumes.HelpRentalAg"
            android:label="Rental Agreement"
            android:parentActivityName="com.houseco.hana.rentcostumes.HelpActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.houseco.hana.rentcostumes.HelpRentalAg">
            </meta-data>
        </activity>

    </application>
</manifest>
